.grid-container {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: max-content max-content;
    gap: 0px 0px;
    grid-template-areas:
      "left-top Right"
      "left-bot Right";
  }
  
  .Right { grid-area: Right; }
  
  .left-top { grid-area: left-top; }
  
  .left-bot { grid-area: left-bot; }
  
  .sectiontitle { background: url(../img/dots.gif) repeat-x scroll 0 0 transparent; background-position: center; margin: 5px 0 25px; min-height: 20px; }
  .sectiontitle h4 { font-size: 23px; background:#fff; display: inline; padding-right: 10px; padding-left: 10px; }
  
  .centersectiontitle { background: url(../img/dots.gif) repeat-x scroll 0 0 transparent; background-position: center; margin: 10px 0 25px; min-height: 20px; text-align: center; }
.centersectiontitle h4 { font-size: 23px; background: #fff; display: inline; padding-right: 10px; padding-left: 10px; }