   /* {<img style={{height:'500px', width: '100%', marginBottom:'-4px'}} src={bg}></img>} */
   .slideshow {
    height: 550px;
    width: 100%;
    position: relative;
  }
  
  slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #131313;
    overflow: hidden;
    position: absolute;
  }
  
  slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #131313;
    animation: slide 12s infinite;
    overflow: hidden;
  }
  
  slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(2) {
    left: 100%;
    animation-delay: 2s;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(3) {
    left: 100%;
    animation-delay: 5s;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
  }
  @keyframes slide {
    0% {
      left: 100%;
      width: 100%;
    }
    5% {
      left: 0%;
    }
    25% {
      left: 0%;
    }
    30% {
      left: -100%;
      width: 100%;
    }
    30.0001% {
      left: -100%;
      width: 0%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }