.footer {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color:#151515;
    color: white;
    border-top: 5px solid #55a2a6;
    margin-top: 20px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    padding: 0px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footerleft{
    text-align: left;
    float: left;
}

.footerRight{
    float: right;
    text-align: right;
}

.footerMid{
    float: left;
    text-align: center;
}

.rFooter {
    background-color: #686666;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 8pt;
}