.navBar {
    overflow: hidden;
}

.navRight a {
  float: right;
  color: grey;
  text-align: left;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 14px;
}

.navRight a:hover {
  background-color: #ddd;
  color: black;
}

.navLeft {
  float: left;
}

.navLeft h2 {
    margin-top: 0px;
}